.depend
*~
*.o
*.lo
*.a
*.d
*.P
.*.swp

Makefile
Makefile.include
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/configure.ac
/config
/libtool

/contrib/Makefile

/src/headers/config.h
/src/headers/config.h.in
/src/headers/drivers.h
/src/prog/gpm-root.c
/src/subdirs-exist
/src/headers/config.h.in
/src/gpm
/src/gpm2/tmp
/src/gpm2/out
/src/lib/libgpm.so.*
/src/prog/disable-paste
/src/prog/display-buttons
/src/prog/display-coords
/src/prog/gpm-root.c
/src/prog/gpm-root
/src/prog/get-versions
/src/prog/hltest
/src/prog/mev
/src/prog/mouse-test
/src/Makefile.drivers.generated
/src/subdirs-exist

/doc/doc.gpm
/doc/gpm-root.1
/doc/gpm-types.7
/doc/gpm.8
/doc/gpm.info
/doc/gpm.man
/doc/mev.1
/doc/mouse-test.1

/.gitversion

# gpm2
/gpm2/out/*
/gpm2/tmp/*
/src/gpm2
/.gitversion.m4
/.releasedate
