*.o
*.a
*.P
configure
Makefile
Makefile.include
autom4te.cache
contrib/Makefile
config.log
config.status
doc/doc.gpm
src/headers/config.h
src/prog/gpm-root.c
src/subdirs-exist
src/headers/config.h.in
src/gpm2/tmp
src/gpm2/out
.*.swp
doc/gpm.info
src/headers/drivers.h
